.button {
  border: none;
  display: inline-block;
  width: 48px;
  height: 48px;

  & .svg {
    & * {
      transition: all 0.3s ease;
    }
  }

  &[aria-expanded='true'] {
    & .svg {
      & .path1 {
        transform-origin: center;
        transform: rotate(135deg) translate(6px, -6px) scale(0.3, 1);
      }

      & .path2 {
        transform-origin: center;
        transform: rotate(45deg);
      }

      & .path3 {
        transform-origin: center;
        transform: rotate(-45deg) translate(6px, 6px) scale(0.3, 1);
      }
    }
  }
}
