.about {
  position: relative;
  max-width: 1000px;
  padding: 0 32px 32px;
  margin: 0 auto 32px;
  color: var(--color-text-default);
  background-color: var(--color-background);

  & .pageTitle {
    padding-top: 32px;
    margin: 32px  0;
  }

  & .brief {
    margin: 0 0 32px;
  }

  & .description {
    line-height: 1.5;
  }
}

.em {
  background-color: var(--color-mcc-quaternary);
}
