.headerContainer {
  position: relative;
  top: 0;
  width: 100%;
  height: 100svh;
  overflow: hidden;
  background-image: url('/tuat-gate.webp');
  background-size: cover;

  & .headerContent {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    & .headerText {
      & .pageTitle {
        width: 100%;
        font-family: Orbitron, Arial, Helvetica, sans-serif;
        font-size: 48px;
        color: white;
        text-align: center;
        letter-spacing: 0.1em;
        animation: slide-in 1s ease-in-out;

        @keyframes slide-in {
          0% {
            transform: scale(10%);
          }

          50% {
            transform: scale(200%);
          }

          100% {
            transform: scale(100%);
          }
        }
      }

      & .pageSubTitle {
        width: 100%;
        font-size: 24px;
        font-weight: 400;
        color: white;
        text-align: center;
        letter-spacing: 0.1em;

        & .anim {
          display: inline-block;
          line-height: 1.4;
          animation-name: slide-up;
          animation-duration: 0.6s;
          animation-timing-function: ease-in-out;

          @keyframes slide-up {
            0% {
              transform: translateY(0);
            }

            30% {
              transform: translateY(200%);
            }

            100% {
              transform: translateY(0);
            }
          }
        }
      }
    }
  }
}

.about {
  position: relative;
  max-width: 1000px;
  padding: 0 32px 32px;
  margin: 0 auto 32px;
  color: var(--color-text-default);

  & .brief {
    margin: 0 0 32px;
  }

  & .description {
    line-height: 1.5;
  }
}

.em {
  background-color: var(--color-mcc-quaternary);
}
