.backgroundDesign {
  position: fixed;
  z-index: -100;
  width: 100%;
  height: 100%;
  overflow: hidden;

  & .square {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -90;
    width: 20vmin;
    height: 40vmin;
    background-color: #acf;
    transform: skewX(-45deg);
  }
}
