.canvas {
  width: 100%;
  height: 100svh;
  scroll-behavior: auto;
  color: white;
  font-weight: bold;
  line-height: 1;
  font-family: var(--font-family-orbitron);

  & .intro {
    position: absolute;
    left: 0.5em;
    width: 90svw;
    font-size: 44px;
  }

  & .mcc {
    -webkit-text-fill-color: transparent;
    position: absolute;
    left: 40svw;
    opacity: 1;
    animation: mcc 5s linear;
    margin: 0;
    background-image: linear-gradient(10deg, #fff0, #eeee, #fffd, #fffe, #ffff);
    background-clip: text;
    width: 90svw;
    font-weight: normal;
    font-size: 20svw;

    @keyframes mcc {
      0% {
        opacity: 0;
      }

      80% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }

  & .name2 {
    position: absolute;
    left: 1vw;
    margin: 0;
    width: 100svw;
    font-size: min(24px, 6vw);
    line-height: 2;

    & .name2space {
      letter-spacing: 0.15em;
    }
  }

  & .downArrow {
    position: absolute;
    left: 10svw;
    animation: down-arrow 1s infinite;
    border-top: 20px solid white;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    padding: 0;
    width: 0;
    height: 0;
  }

  @keyframes down-arrow {
    0% {
      transform: translateY(-100%);
    }

    50% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-100%);
    }
  }

  & .information {
    position: absolute;
    left: 30svw;
    opacity: 0.5;
    margin: 0;
    pointer-events: none;
    font-weight: bold;
    font-size: 20svw;
  }

  & .and {
    position: absolute;
    left: 20svw;
    margin: 0;
    pointer-events: none;
    font-weight: bold;
    font-size: 50vmin;
  }

  & .technology {
    position: absolute;
    left: -5svw;
    margin: 0;
    pointer-events: none;
    font-weight: bold;
    font-size: 20svw;
  }

  & .catchCopy {
    position: absolute;
    top: 210svh;
    left: 0.5svw;
    width: 95svw;
    font-weight: bold;
    font-size: min(24px, 6vw);
    line-height: 1.5;

    & .sentence {
      display: block;
      margin-bottom: 0.5em;
    }
  }

  & .bottms {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    justify-content: space-around;
    align-items: flex-start;
    width: 98svw;

    & .cards {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      max-width: 600px;
      height: 100%;

      & .cardItem {
        display: block;
        margin: 0 8px;
        background: rgb(0 0 0 / 50%);
        padding: 8px;
        color: white;
        font-weight: bold;
        font-size: min(24px, 6vw);
        line-height: 2;

        &:hover {
          background: rgb(0 0 0 / 70%);
          text-decoration: underline;
        }
      }

      & .socials {
        display: flex;
        align-self: flex-end;
        gap: 16px;
        margin: 0 8px;
        padding: 8px;

        & .socialLink {
          display: flex;
          flex-direction: column;
          gap: 2px;
          color: white;
          font-size: 12px;
          letter-spacing: 0.1em;
          text-align: center;
        }
      }
    }

    @media (--bp-sm) {
      & .twitterWrapper {
        position: relative;
        flex: 1;
        max-width: 600px;
        height: 40svh;
        overflow: auto;
        font-size: 12px;

        & > div {
          border: none;
          width: 100%;
          height: 60svh;
          font-size: 12px;
        }

        &::-webkit-scrollbar {
          width: 2px;
        }
      }
    }
  }
}
