.navbarMobile {
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 50px;
  background-color: var(--color-background);
  border-top: 1px solid var(--color-light);

  & .navbar {
    display: flex;
    flex-direction: column;
    height: 100%;

    & .navIn {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      list-style: none;

      & .link {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        color: var(--color-text);
        text-decoration: none;
        cursor: pointer;
        background-color: transparent;
        border: none;    
      }

      & .label {
        display: block;
        font-size: 10px;
        line-height: 0.5;
        color: var(--color-mcc-secondary);
        text-align: center;
      }
    }
  }
}
