.humbergurIcon {
  position: relative;
  top: 0;
  right: 0;
  z-index: 10;
  padding: 1rem;
  margin: 0 10px;
  cursor: pointer;
  background-color: transparent;
  border-style: none;

  & .lineTop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 2rem;
    height: 0.2rem;
    background-color: #000;
    transition: all 0.3s ease;
  }

  & .lineMiddle {
    position: absolute;
    top: 0.8rem;
    left: 0;
    z-index: 10;
    width: 2rem;
    height: 0.2rem;
    background-color: #000;
    transition: all 0.3s ease;
  }

  & .lineBottom {
    position: absolute;
    top: 1.6rem;
    left: 0;
    z-index: 10;
    width: 2rem;
    height: 0.2rem;
    background-color: #000;
    transition: all 0.3s ease;
  }

  &._active {
    .lineTop {
      top: 0.8rem;
      width: 1.5rem;
      background-color: #058;
    }

    & .lineMiddle {
      width: 0;
    }

    & .lineBottom {
      top: 0.8rem;
      width: 1.5rem;
      background-color: #058;
    }
  }
}
