.sections {
  & .section {
    & .h2 {
      display: inline-block;
      margin: 56px 0 32px;
      box-shadow: var(--shadow-neumorphism);
      border-radius: 8px;
      padding: 16px 32px;
      font-weight: bold;
      font-size: 24px;
    }

    & .para {
      margin: 0 0 16px;
      font-size: 16px;
      line-height: 2;
    }

    & .imageContainer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 32px;
      height: auto;

      & .image {
        flex: 1;
        border-radius: 8px;
        width: 40%;
        height: auto;
        object-fit: contain;
      }

      @media (--bp-sm) {
        flex-direction: column;

        & .image {
          width: 100%;
        }
      }
    }

    & .twitterDmButton {
      display: inline-flex;
      align-items: center;
      gap: 4px;
      transition: all 0.2s ease-in-out;
      margin: 16px;
      box-shadow: var(--shadow-neumorphism);
      border-radius: 24px;
      padding: 16px;
      color: var(--mcc-color-2);
      font-weight: bold;
      font-size: 18px;
      text-decoration: none;

      &:hover {
        transform: translateY(-2px);
        background-color: var(--color-gray-200);
      }
    }

    & .discordButton {
      display: inline-flex;
      align-items: center;
      gap: 4px;
      transition: all 0.2s ease-in-out;
      margin: 16px;
      box-shadow: var(--shadow-neumorphism);
      border-radius: 24px;
      padding: 16px;
      color: var(--mcc-color-1);
      font-weight: bold;
      font-size: 18px;
      text-decoration: none;

      &:hover {
        transform: translateY(-2px);
        box-shadow: var(--shadow-neumorphism-hover);
        background-color: var(--color-gray-200);
      }
    }
  }
}

.em {
  margin: 0 4px;
  box-shadow: var(--shadow-neumorphism);
  background-color: var(--mcc-color-6);
  padding: 0 6px;
}
