@use '~/styles/variables.scss' as *;

.button {
  border-radius: 6px;

  & .primary {
    color: #fff;
    background-color: var(--color-mcc-primary);

    &:hover,
    &:focus {
      color: var(--color-mcc-primary);
      background-color: #fff;
    }
  }

  & .secondary {
    color: #fff;
    background-color: $color-mcc-secondary;

    &:hover,
    &:active {
      color: $color-mcc-secondary;
      background-color: #fff;
    }
  }

  & .md {
    padding: 1px 6px;
    font-size: 1rem;
  }

  & .lg {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
  }
}
