@use '~/styles/variables.scss' as *;

$sidebarWidth: 15em;
$sideHeaderHeight: 5em;
$navbarHeight: 3em;

.header {
  position: fixed;
  width: $sidebarWidth;
  text-align: center;
  padding-top: calc($sideHeaderHeight / 2);

  @include mq('lg') {
    width: 100%;
    padding-top: 0;
    text-align: start;
    display: flex;
    align-items: center;
    background-color: #fff;

    .brand {
      margin: 0;
    }
  }
}

.sidebar {
  width: $sidebarWidth;
  position: fixed;
  overflow-x: auto;
  padding-top: $sideHeaderHeight;
  background-color: #fff;

  .sidebarIn {
    .linkList {
      list-style: none;
      padding: $sideHeaderHeight 0;

      .list {
        position: relative;

        .link {
          text-decoration: none;
          font-size: 1.2em;
          color: #0aa;
          display: block;
          padding: 1em 1.5em;
          transition: background-color 0.4s linear;

          &:hover {
            background-color: #cee;
          }
        }
      }
    }
  }

  @include mq('lg') {
    width: 0;
    top: 0;
    padding-top: 0;

    .isSidebarActive {
      width: $sidebarWidth;
    }
  }
}

.main {
  display: block;

  .mainIn {
    padding-left: $sidebarWidth;
    margin: 0 2em;

    @include mq('lg') {
      padding-left: 0;
      padding-top: $navbarHeight;
    }
  }
}

.navToggle {
  width: $navbarHeight;
  height: $navbarHeight;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  border: none;
  z-index: 101;

  &:active {
    background-color: #eee;
  }
}