@use '~/styles/variables.scss' as *;

$sidebarWidth: 15em;
$sideHeaderHeight: 5em;
$navbarHeight: 3em;

.header {
  position: fixed;
  width: $sidebarWidth;
  padding-top: calc($sideHeaderHeight / 2);
  text-align: center;

  @include mq('lg') {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 0;
    text-align: start;
    background-color: #fff;

    .brand {
      margin: 0;
    }
  }
}

.sidebar {
  position: fixed;
  width: $sidebarWidth;
  padding-top: $sideHeaderHeight;
  overflow-x: auto;
  background-color: #fff;

  .sidebarIn {
    .linkList {
      padding: $sideHeaderHeight 0;
      list-style: none;

      .list {
        position: relative;

        .link {
          display: block;
          padding: 1em 1.5em;
          font-size: 1.2em;
          color: #0aa;
          text-decoration: none;
          transition: background-color 0.4s linear;

          &:hover {
            background-color: #cee;
          }
        }
      }
    }
  }

  @include mq('lg') {
    top: 0;
    width: 0;
    padding-top: 0;

    .isSidebarActive {
      width: $sidebarWidth;
    }
  }
}

.main {
  display: block;

  .mainIn {
    padding-left: $sidebarWidth;
    margin: 0 2em;

    @include mq('lg') {
      padding-top: $navbarHeight;
      padding-left: 0;
    }
  }
}

.navToggle {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 101;
  width: $navbarHeight;
  height: $navbarHeight;
  background-color: #fff;
  border: none;

  &:active {
    background-color: #eee;
  }
}
