.parallaxTest {
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 1;

  & .image1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 0 40vmin;
  }

  & .image2 {
    width: 40vmin;
    height: 80vmin;
    object-fit: cover;
  }

  & .image3 {
    width: 30vmin;
    height: 50vmin;
    margin-left: 60vw;
    object-fit: cover;
  }

  & .intro {
    margin: 0;
    font-size: 6vw;
    color: var(--color-text-white);
  }

  & .name1 {
    margin: 0;
    margin: 0 0 0 30%;
    font-size: 30vw;
    color: var(--color-text-white);
  }


  & .name2 {
    margin: 0;
    font-size: 24px;
    color: var(--color-text-white);
  }

  & .cloud1 {
    width: 20%;
    height: auto;
    margin-left: 55%;
  }

  & .cloud2 {
    width: 10%;
    height: auto;
    margin-left: 15%;
  }

  & .earth {
    width: 60%;
    height: auto;
  }

  & .server {
    width: 20%;
    height: auto;
  }

  & .bash {
    width: 40%;
    height: auto;
  }

  & .clientsMain {
    width: 40%;
    height: auto;
  }
}
