.articleContent {
  & div {
    position: relative;
  }

  & h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    line-height: 1.5;
  }

  & p {
    margin: 16px 0;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.05em;
  }

  & h1 {
    padding: 2px 10px 0;
    margin: 48px 0;
    font-size: 24px;
    line-height: 1.6;
    border-bottom: 2px solid var(--mcc-color-3);
    border-left: 5px solid var(--mcc-color-3);
  }

  & h2 {
    padding: 2px;
    margin: 32px 0;
    font-size: 1.4rem;
    border-bottom: 2px solid var(--mcc-color-3);
  }

  & a {
    color: var(--mcc-color-3);

    &:hover {
      text-decoration: underline;
    }
  }

  & ul,
  & ol {
    padding-left: 32px;
  }

  & ul {
    list-style: disc;
  }

  & ol {
    list-style: decimal;
  }

  & blockquote {
    padding-left: 12px;
    font-style: italic;
    border-left: solid 4px var(--color-blockquote-border);
  }

  & li {
    margin: 0;
    line-height: 2;
  }

  & table {
    overflow: auto;
    border-collapse: collapse;
    background-color: var(--color-background);

    & thead {
      & tr {
        background: var(--color-gray-300);

        & th {
          padding: 4px 8px;
          font-weight: bold;
          text-align: left;
        }
      }
    }

    & tbody {
      & tr {
        & td {
          padding: 4px 8px;
          background-color: var(--color-gray-0);
        }
      }
    }
  }

  & code {
    padding: 1px 5px;
    margin: 0 0.2em;
    font-family: var(--font-family-jetbrains-mono);
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-gray-900);
    word-break: break-word;
    background-color: var(--color-gray-300);
    border-radius: 5px;
  }

  & div > pre {
    padding: 16px;
    overflow: auto;
    font-family: var(--font-family-jetbrains-mono);
    background-color: var(--color-codeblock-background);
    border-radius: 4px;

    & button {
      position: absolute;
      top: 0;
      right: 0;
      padding: 4px 8px;
      margin: 8px;
      color: var(--color-gray-0);
      border-radius: 2px;
    }

    & code {
      color: inherit;
      background: inherit;
    }
  }

  & section[data-footnotes] {
    & h2 {
      height: 0;
      overflow: hidden;
    }
  }

  & div[data-rehype-pretty-code-fragment] {
    position: relative;
    margin: 32px 0;

    & div[data-rehype-pretty-code-title] {
      position: relative;
      bottom: -4px;
      display: inline-block;
      padding: 4px 16px 10px;
      font-size: 14px;
      color: #ccc;
      overflow-wrap: break-word;
      line-gap-override: 0;
      background: var(--color-mcc-6);
      border-radius: 4px 4px 0 0;
    }

    & pre {
      padding: 16px;
      margin: 0;
      overflow: auto;
      font-family: var(--font-family-jetbrains-mono);
      background-color: var(--color-codeblock-background);
      border-radius: 4px;

      & button {
        position: absolute;
        top: 0;
        padding: 4px 8px;
        margin: 8px;
        color: white;
        cursor: pointer;
        border-radius: 2px;
      }

      & code {
        background: inherit;
      }
    }
  }
}
