@custom-media --bp-sm (max-width: 780px);

.headerContainer {
  position: relative;
  top: 0;
  width: 100%;
  height: 100svh;
  overflow: hidden;
  background-image: url('/images/tuat-gate-filtered.webp');
  background-size: cover;

  & .headerContent {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    & .headerText {
      & .pageTitle {
        width: 100%;
        font-family: var(--font-family-orbitron);
        font-size: 32px;
        color: white;
        text-align: center;
        letter-spacing: 0.1em;
        animation: pop-up 1s ease-in-out;
      }

      & .pageSubTitle {
        width: 100%;
        font-size: 16px;
        font-weight: normal;
        color: white;
        text-align: center;
        letter-spacing: 0.1em;

        & .anim {
          display: inline-block;
          line-height: 1.4;
          animation-name: slide-up;
          animation-duration: 0.6s;
          animation-timing-function: ease-in-out;
        }
      }
    }
  }
}

.mainContainer {
  position: relative;
  max-width: 1000px;
  padding: 0 32px 32px;
  margin: 0 auto 32px;
  color: var(--color-text-default);

  & .introductionText {
    flex: 1;

    & .brief {
      margin: 0 0 32px;
    }

    & .activities {
      line-height: 1.5;
    }
  }

  & .gallary {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    align-items: center;
    justify-content: center;

    & .gallaryItem {
      position: relative;
      min-width: 40%;
      max-width: 1000px;
      height: 100%;
    }
  }
}

.em {
  background-color: var(--color-mcc-quaternary);
}

@keyframes pop-up {
  0% {
    transform: scale(10%);
  }

  50% {
    transform: scale(200%);
  }

  100% {
    transform: scale(100%);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY(0);
  }
}
