@custom-media --bp-sm (max-width: 780px);

.background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100svh;
  object-fit: cover;
}

.header {
  position: relative;
  top: 0;
  width: 100%;
  height: calc(100svh - var(--navbar-height));

  & .headerContent {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 32px;
    width: 100%;
    height: 100%;

    & .pageTitle {
      position: relative;
      width: 100%;
      max-width: 600px;
      color: white;
      font-size: 64px;
      font-family: var(--font-family-orbitron);
      letter-spacing: 0.1em;
      text-align: center;

      @media (--bp-sm) {
        font-size: 48px;
      }

      &::after {
        display: inline-block;
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        animation: underline 1s ease-in-out;
        background-color: white;
        width: 100%;
        height: 1px;
        content: '';
      }
    }

    & .pageSubTitle {
      transform: translateY(-100%);
      opacity: 0;
      animation: slide-down 0.6s ease-in-out 0.6s forwards;
      width: 100%;
      color: white;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 0.1em;
      text-align: center;
    }
  }
}

.main {
  & .mainContent {
    position: relative;
    margin: 0 auto 32px;
    padding: 0 32px 32px;
    max-width: 1000px;
    color: var(--color-text-default);

    & .gallery {
      display: flex;
      position: relative;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 32px;

      & .galleryItem {
        position: relative;
        min-width: 40%;
        max-width: 1000px;
        height: 100%;
      }
    }
  }

  & .twitterFeed {
    margin: 0 auto;
    padding: 0 4px;
    max-width: 800px;

    & .heading2 {
      color: var(--mcc-color-1);
      font-weight: bold;
      font-size: 24px;
      font-family: var(--font-family-orbitron);
      letter-spacing: 0.1em;
    }
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes underline {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
