@custom-media --bp-sm (max-width: 780px);

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/tuat-gate-filtered.webp');
  background-size: cover;
}

.header {
  position: relative;
  top: 0;
  width: 100%;
  height: calc(100svh - var(--navbar-height));

  & .headerContent {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 32px;

    & .pageTitle {
      position: relative;
      width: 100%;
      max-width: 600px;
      font-family: var(--font-family-orbitron);
      font-size: 64px;
      color: white;
      text-align: center;
      letter-spacing: 0.1em;

      @media (--bp-sm) {
        font-size: 48px;
      }

      &::after {
        position: absolute;
        bottom: -8px;
        left: 50%;
        display: inline-block;
        width: 100%;
        height: 1px;
        content: '';
        background-color: white;
        transform: translateX(-50%);
        animation: underline 1.5s ease-in-out;
      }
    }

    & .pageSubTitle {
      width: 100%;
      font-size: 20px;
      font-weight: bold;
      color: white;
      text-align: center;
      letter-spacing: 0.1em;
      opacity: 0;
      transform: translateY(-100%);
      animation: slide-down 0.6s ease-in-out 1s forwards;
    }
  }
}

.main {
  & .mainContent {
    position: relative;
    max-width: 1000px;
    padding: 0 32px 32px;
    margin: 0 auto 32px;
    color: var(--color-text-default);

    & > section {
      & > h2 {
        display: inline-block;
        padding: 16px 32px;
        margin: 56px 0 32px;
        font-size: 24px;
        font-weight: bold;
        border-radius: 8px;
        box-shadow: var(--shadow-neumorphism);
      }

      & > p {
        margin: 0 0 16px;
        font-size: 16px;
        line-height: 2;
      }

      & .imageContainer {
        display: flex;
        flex-direction: row;
        gap: 32px;
        align-items: center;
        justify-content: center;
        height: auto;

        & .image {
          flex: 1;
          width: 40%;
          height: auto;
          border-radius: 8px;
          object-fit: contain;
        }

        @media (--bp-sm) {
          flex-direction: column;

          & .image {
            width: 100%;
          }
        }
      }

      & .twitterDmButton {
        display: inline-flex;
        gap: 4px;
        align-items: center;
        padding: 16px;
        margin: 16px;
        font-size: 18px;
        font-weight: bold;
        color: var(--mcc-color-2);
        text-decoration: none;
        border-radius: 24px;
        box-shadow: var(--shadow-neumorphism);
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: var(--color-gray-200);
          transform: translateY(-2px);
        }
      }

      & .discordButton {
        display: inline-flex;
        gap: 4px;
        align-items: center;
        padding: 16px;
        margin: 16px;
        font-size: 18px;
        font-weight: bold;
        color: var(--mcc-color-1);
        text-decoration: none;
        border-radius: 24px;
        box-shadow: var(--shadow-neumorphism);
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: var(--color-gray-200);
          box-shadow: var(--shadow-neumorphism-hover);
          transform: translateY(-2px);
        }
      }
    }

    & .gallery {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      gap: 32px;
      align-items: center;
      justify-content: center;

      & .galleryItem {
        position: relative;
        min-width: 40%;
        max-width: 1000px;
        height: 100%;
      }
    }
  }

  & .twitterFeed {
    max-width: 800px;
    padding: 0 4px;
    margin: 0 auto;

    & .heading2 {
      font-family: var(--font-family-orbitron);
      font-size: 24px;
      font-weight: bold;
      color: var(--color-mcc-brand);
      letter-spacing: 0.1em;
    }
  }
}

.em {
  padding: 0 6px;
  margin: 0 4px;
  background-color: var(--mcc-color-6);
  box-shadow: var(--shadow-neumorphism);
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes underline {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
