.layout {
  width: 100svw;
  height: calc(100svh - var(--navbar-pc-height));
  padding: 0;
  margin: 0;
  overflow: auto;

  @media screen and (max-width: 48em) {
    height: calc(100svh - var(--navbar-mobile-height));
    padding: 0;
  }

  @media screen and (max-width: 48em) and (orientation: landscape) {
    width: calc(100svw - var(--navbar-mobile-height));
    height: 100svh;
    padding: 0;
  }

  &._noMobileHeader {
    position: relative;
    height: calc(100svh - var(--navbar-pc-height));
    padding: 0;
    margin: 0;
    overflow: auto;

    @media screen and (max-width: 48em) {
      height: calc(100svh - var(--navbar-mobile-height));
      padding: 0;
    }

    @media screen and (max-width: 48em) and (orientation: landscape) {
      width: calc(100svw - var(--navbar-mobile-height));
      height: 100svh;
      padding: 0;
    }
  }
}
