.article {
  padding: 0 8px;

  & div {
    position: relative;
  }

  & a {
    margin: 0 2px;
    color: var(--mcc-color-1);
    word-break: break-all;

    &:hover {
      text-decoration: underline;
    }
  }

  & h1 {
    margin: 48px 0;
    border-bottom: 2px solid var(--mcc-color-3);
    border-left: 5px solid var(--mcc-color-3);
    padding: 2px 10px 0;
    font-size: 24px;
  }

  & h2 {
    margin: 32px 0;
    border-bottom: 2px solid var(--mcc-color-3);
    padding: 2px;
    font-size: 1.4rem;
  }

  & h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    line-height: 1.6;

    /* This is the link icon */
    & > a[aria-label='heading-link'] {
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }

    &:hover {
      & a[aria-label='heading-link'] {
        opacity: 1;
      }
    }
  }

  & p {
    margin: 32px 0;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.05em;

    @media (--bp-sm) {
      font-size: 14px;
    }
  }

  & img {
    max-width: 100%;
  }

  & ul,
  & ol {
    padding-left: 32px;
  }

  & ul {
    list-style: disc;
  }

  & ol {
    list-style: decimal;
  }

  & li {
    margin: 0;
    line-height: 2;
  }

  & blockquote {
    border-left: solid 6px var(--color-gray-300);
    padding-left: 12px;
    color: var(--color-gray-600);
    font-style: italic;
  }

  & table {
    border-collapse: collapse;
    background-color: var(--color-gray-200);
    overflow: auto;

    & thead {
      & tr {
        background: var(--color-gray-300);

        & th {
          padding: 4px 8px;
          font-weight: bold;
          text-align: left;
        }
      }
    }

    & tbody {
      & tr {
        & td {
          background-color: var(--color-gray-0);
          padding: 4px 8px;
        }
      }
    }
  }

  & code {
    margin: 0 0.2em;
    border-radius: 5px;
    background-color: var(--color-gray-300);
    padding: 1px 5px;
    color: var(--color-gray-900);
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--font-family-jetbrains-mono);
    word-break: break-word;

    @media (--bp-sm) {
      font-size: 14px;
    }

    & span {
      position: relative;
    }
  }

  & pre {
    display: flex;
    margin: 0;
    border-radius: 0 6px 6px;
    background-color: var(--color-gray-700);

    /* code block without file type */
    padding: 12px;
    overflow: auto;
    font-family: var(--font-family-jetbrains-mono);

    & code {
      position: relative;
      margin: 0;
      background: inherit;
      padding: 0;
      width: 100%;
      color: white;
    }

    /* This is the copy button */
    & button {
      position: absolute;
      right: 12px;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
      cursor: pointer;
      color: white;
    }

    &:hover {
      & button {
        opacity: 1;
      }
    }
  }

  & div[data-rehype-pretty-code-fragment] {
    /* codeblock with file type */
    margin: 32px 0;
    border-radius: 4px;
    overflow: hidden;

    & div[data-rehype-pretty-code-title] {
      display: inline-block;
      bottom: -4px;
      border-radius: 4px 4px 0 0;
      background: var(--color-gray-900);
      padding: 8px 16px;
      color: #ccc;
      font-size: 14px;
      overflow-wrap: break-word;
    }

    & pre {
      display: flex;
      margin: 0;
      border-radius: 6px;
      background-color: var(--color-gray-700);
      padding: 12px;
      overflow: auto;
      font-family: var(--font-family-jetbrains-mono);

      & code {
        position: relative;
        margin: 0;
        background: inherit;
        padding: 0;
        width: 100%;
      }

      /* This is the copy button */
      & button {
        position: absolute;
        right: 12px;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        cursor: pointer;
        color: white;
      }

      &:hover {
        & button {
          opacity: 1;
        }
      }
    }
  }

  & details {
    box-shadow: var(--shadow-neumorphism);
    border-radius: 8px;
    padding: 12px;

    & summary {
      cursor: pointer;
      font-weight: bold;

      &::marker {
        content: '▶ ';
        color: var(--color-gray-600);
      }
    }

    &[open] {
      & summary {
        &::marker {
          content: '▼ ';
        }
      }
    }
  }
}
