.article {
  padding: 0 8px;
  font-family: var(--font-family-noto-sans-jp);

  & div:not([class]) {
    position: relative;
  }

  & a {
    margin: 0 2px;
    color: var(--mcc-color-1);
    word-break: break-all;

    &:hover {
      text-decoration: underline;
    }
  }

  & h1:not([class]) {
    padding: 2px 10px 0;
    margin: 64px 0 32px;
    font-size: 24px;
    border-bottom: 2px solid var(--mcc-color-3);
    border-left: 5px solid var(--mcc-color-3);
  }

  & h2 {
    &:not([class]),
    &[class="sr-only"] {
      padding: 2px;
      margin: 48px 0 24px;
      font-size: 1.4rem;
      border-bottom: 2px solid var(--mcc-color-3);
    }
  }

  & h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:not([class]) {
      font-weight: bold;
      line-height: 1.6;

      /* This is the link icon */
      & > a[aria-label="heading-link"] {
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
      }

      &:hover {
        & a[aria-label="heading-link"] {
          opacity: 1;
        }
      }
    }
  }

  & p {
    margin: 24px 0;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.05em;

    @media (--bp-sm) {
      font-size: 14px;
    }
  }

  & img:not([class]) {
    max-width: 100%;
  }

  & ul,
  & ol {
    &:not([class]),
    &[class="contains-task-list"] {
      padding-left: 32px;
    }
  }

  & ul {
    list-style: disc;
  }

  & ol {
    list-style: decimal;
  }

  & li {
    margin: 0;
    line-height: 2;
  }

  & blockquote:not([class]) {
    padding: 12px 0 12px 12px;
    font-style: italic;
    color: var(--color-gray-600);
    border-left: solid 6px var(--color-gray-300);
    box-shadow: var(--shadow-neumorphism-inset);
  }

  & table:not([class]) {
    margin: 32px 0;
    overflow-x: auto;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: var(--shadow-neumorphism);

    & thead {
      & tr {
        background: var(--color-gray-200);

        & th {
          padding: 8px 12px;
          font-weight: bold;
          text-align: left;

          &:first-of-type {
            border-radius: 8px 0 0 0;
          }

          &:last-of-type {
            border-right: none;
            border-radius: 0 8px 0 0;
          }
        }
      }
    }

    & tbody {
      & tr {
        & td {
          padding: 8px 12px;
          background-color: var(--color-gray-0);

          &:not(:last-child) {
            border-right: 1px solid var(--color-gray-100);
          }
        }

        &:not(:last-child) {
          & td {
            border-bottom: 1px solid var(--color-gray-100);
          }
        }
      }
    }
  }

  & figure {
    margin: 32px 0;
  }

  /* code but not in code block */
  & code:not([data-language]) {
    padding: 1px 5px;
    margin: 0 0.2em;
    font-family: var(--font-family-jetbrains-mono);
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-gray-900);
    word-break: break-word;
    background-color: var(--color-gray-300);
    border-radius: 5px;

    @media (--bp-sm) {
      font-size: 14px;
    }

    & span {
      position: relative;
    }
  }

  & details:not([class]) {
    margin: 12px 0;
    padding: 12px;
    border-radius: 8px;
    box-shadow: var(--shadow-neumorphism);

    & summary {
      font-weight: bold;
      cursor: pointer;

      &::marker {
        color: var(--color-gray-600);
        content: "▶ ";
      }
    }

    &[open] {
      & summary {
        &::marker {
          content: "▼ ";
        }
      }
    }
  }
}
