.headerContent {
  position: relative;
  width: 100%;
  height: 100svh;

  & .heroImage {
    position: absolute;
    width: 100%;
    height: 100svh;
    object-fit: cover;
    filter: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%));
  }

  & .heroImageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    background: linear-gradient(var(--color-mcc-primary), var(--color-mcc-brand));
    opacity: 0.5;
  }

  & .title {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    transform: translate(-50%, -50%);
  }
}

.mainContent {
  & .article {
    max-width: 800px;
    padding: 32px 0;
    padding: 0;
    margin: 32px auto;
    margin: 0 5%;

    @media screen and (max-width: 48em) {
      padding: 0;
      margin: 0 3%;
    }

    & .title {
      margin: 48px 0;
      font-size: 32px;
      font-weight: normal;
      text-align: center;
    }

    & .hero {
      width: 100%;
      height: 100svh;
      object-fit: cover;
    }
  }
}
