.closeNav {
  display: none;
}

.openNav {
  position: fixed;
  top: 2em;
  right: 2em;
  bottom: 2em;
  left: 2em;
  display: flex;
  flex-direction: column;
  padding-top: 3em;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 0 0 0.5em #00000050;

  .navIn {
    .linkList {
      padding: 2em;
      list-style: none;

      .list {
        position: relative;

        .link {
          display: block;
          padding: 1em 1.5em;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-size: 1.2em;
          color: #058;
          text-decoration: none;
          transition: background-color 0.3s linear;

          &:hover {
            color: #fff;
            background-color: #058;
          }
        }
      }
    }
  }
}
