html {
  scroll-snap-type: y mandatory;
}

body {
  top: 0;
  background-color: var(--color-gray-100);
  width: 100%;
  min-height: 100%;
  color: var(--color-gray-800);
  font-family: var(--font-family-noto-sans-jp);
}

::-webkit-scrollbar {
  background: transparent;
  width: var(--scrollbar-width);
  height: 5px;

  @media (--bp-sm) {
    width: 5px;
  }
}

::-webkit-scrollbar-thumb {
  border-radius: 1ex;
  background: var(--mcc-color-3);
}

::-webkit-scrollbar-corner {
  background: transparent;
}
