html {
  scroll-snap-type: y mandatory;
}

body {
  top: 0;
  width: 100%;
  min-height: 100%;
  font-family: var(--font-family-noto-sans-jp);
  color: var(--color-gray-800);
  background-color: var(--color-gray-100);
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: 5px;
  background: transparent;

  @media (--bp-sm) {
    width: 5px;
  }
}

::-webkit-scrollbar-thumb {
  background: var(--mcc-color-3);
  border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
