@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Noto+Sans+JP:wght@300;400;700&family=Noto+Serif+JP:wght@400;700&display=swap');
@import url('./_variables.css');

/* stylelint-disable-next-line selector-id-pattern */
html,
body,
#__next {
  top: 0;
  width: 100%;
  min-height: 100svh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: Arial, 'Noto Sans JP', sans-serif;
  line-height: 1.6;
  color: var(--color-text-default);
  background: var(--color-mcc-primary);
  text-size-adjust: none;
}

p {
  margin: 0;
}

a {
  color: var(--color-text-default);
  text-decoration: none;
}

code {
  padding: 1px 5px;
  margin: 0 0.2em;
  font-family: 'JetBrains Mono', 'Noto Sans JP', monospace, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-code-text);
  background-color: var(--color-code-background);
  border-radius: 5px;
}

button {
  background-color: transparent;
  border: none;
}
