@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Sanchez&family=JetBrains+Mono&display=swap');

html,
body {
  top: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  color: var(--color-text-plain);
  background-color: var(--color-mcc-primary);
}
