$breakpoints: (
  lg: '62em',
  xl: '80em',
);

@mixin mq($size) {
  @media screen and (max-width: #{map-get($breakpoints, $size)}) {
    @content;
  }
}

$navbarHeight: 3em;

$color-mcc-primary: #08f;
$color-mcc-secondary: #058;
