:root {
  --color-background: #f4f4f4;
  --color-text-plain: #303030;
  --color-text-light: #606060;
  --color-light: #cccc;
  --color-mcc-primary: #08f;
  --color-mcc-secondary: #0078AB;
  --color-mcc-tertiary: #058;
  --color-link: #058;
  --navbar-height: 70px;
  --navbar-mobile-height: 50px;
  --sidebar-width: 15em;
  --side-header-height: 5em;
}
