$breakpoints: (
  lg: '62em',
  xl: '80em',
);

@mixin mq($size) {
  @media screen and (max-width: #{map-get($breakpoints, $size)}) {
    @content;
  }
}

@mixin _mobile {
  @media screen and (max-width: 62em) {
    @content;
  }
}

@mixin _pc {
  @media screen and (min-width: 62em) {
    @content;
  }
}
