.container {
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  & .topScreen {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100svh;
    background: linear-gradient(var(--color-mcc-primary), var(--color-mcc-secondary));
    transition: all 0.5s ease-in-out;
    transform: translateY(0);
  
    &.close {
      transform: translateY(-120%);
    }

    & .direction {
      position: absolute;
      top: 2vh;
      left: 2vw;
      font-size: 32px;
      font-weight: normal;
      color: var(--color-text-white);
    }
  }

  & .subScreen {
    top: 0;
    height: 100%;
    background: linear-gradient(var(--color-mcc-secondary), var(--color-mcc-primary));
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transform: translateY(60%);
  
    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
