.landingPage {
  background-color: #fff;
  height: 100svh;
  position: absolute;
  top: 0;
  width: 100%;

  .sidebarLeft {
    background-color: #ffffff80;
    height: 100%;
    position: absolute;
    top: 0;
    width: 20%;
  }
}
