.landingPage {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100svh;
  background-color: #fff;

  .sidebarLeft {
    position: absolute;
    top: 0;
    width: 20%;
    height: 100%;
    background-color: #ffffff80;
  }
}
