.articleBottom {
  margin: 64px 0;
  font-family: var(--font-family-noto-sans-jp);

  & .backToParent {
    display: inline-block;
    transition: all 0.2s ease-in-out;
    box-shadow: var(--shadow-neumorphism);
    border-radius: 12px;
    padding: 12px;
    color: var(--mcc-color-1);
    font-weight: bold;

    &:hover {
      box-shadow: var(--shadow-neumorphism-hover);
      background: var(--color-gray-200);
    }
  }
}
