.container {
  --height: 400vh;

  height: var(--height);

  & .scroller {
    position: fixed;
    width: 100%;
    height: var(--height);

    & .section {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
  }
}
