.header {
  position: sticky;
  top: 0;
  z-index: 5;

  & .navbar {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--navbar-pc-height);
    background: var(--color-background);
    border-bottom: 1px solid var(--color-border-default);

    &._transparent {
      background: transparent;
      border-bottom: none;
    }

    & .brandLink {
      display: flex;
      flex: 1;
      align-items: center;
      height: inherit;
      font-family: var(--font-family-title);
      text-decoration: none;

      & .brandLogo {
        margin: 3px;
      }

      & .brandName {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 48px;
        font-weight: 400;
        color: var(--color-mcc-primary);
      }
    }

    & .navIn {
      display: flex;
      flex: 1;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      max-width: 600px;
      height: 50px;
      padding: 20px 0 0;
      margin: 0;
      list-style: none;

      & .listItem {
        display: flex;
        flex: 0 1 auto;
        align-items: center;
        height: inherit;

        & .link {
          padding: 10px 0;
          font-weight: bold;
          color: var(--color-text-subtle);
          text-decoration: none;

          &:hover {
            color: var(--color-mcc-primary);
          }

          &.active {
            border-top: 3px solid var(--color-mcc-primary);
          }
        }
      }
    }
  }
}
