@custom-media --bp-sm (max-width: 780px);

.main {
  max-width: 900px;
  padding: 0 8px 48px;
  margin: auto;
  margin-top: -64px;

  @media (--bp-sm) {
    width: 92vw;
  }

  & .backLink {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    margin-top: 64px;
    font-size: 16px;
    font-weight: bold;
    color: var(--mcc-color-1);
    text-decoration: none;
    border-radius: 8px;
    box-shadow: var(--shadow-neumorphism);
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: var(--color-gray-200);
      box-shadow: var(--shadow-neumorphism-hover);
    }
  }
}
