.overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	backdrop-filter: blur(4px);

	&[aria-expanded="true"] {
		display: block;
	}

	.drawer {
		position: fixed;
		top: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 400px;
		max-width: 80%;
		height: 100%;
		padding: 60px 20px;
		overflow-y: auto;
		font-family: var(--font-family-orbitron);
		background: rgb(150 150 150 / 90%);
		backdrop-filter: blur(12px);
		transition: all 0.3s ease-in-out;
		transform: translateX(100%);

		&[aria-expanded="true"] {
			transform: translateX(0);
		}

		& .list {
			display: flex;
			flex-direction: column;
			gap: 4px;

			& .listItem {
				& .link {
					display: flex;
					align-items: center;
					padding: 10px 20px;
					font-size: 20px;
					letter-spacing: 0.2em;
					transition: all 0.3s ease-in-out;

					&::after {
						position: relative;
						top: 5px;
						left: 8px;
						width: 0;
						height: 2px;
						content: "";
						background-color: var(--color-gray-0);
						transition: all 0.3s ease-in-out;
					}

					&:hover {
						text-shadow: 0 0 8px var(--mcc-color-2);

						&::after {
							width: 100%;
						}
					}

					& .linkTextWrapper {
						padding: 4px;

						& .linkText {
							display: inline-block;
							padding: 4px;
							overflow: hidden;
							color: var(--mcc-color-1);

							&[data-animated="true"] {
								animation: typing-in 0.5s forwards steps(4);
							}

							&[data-index="0"] {
								animation-delay: 0s;
							}

							&[data-index="1"] {
								animation-delay: 0.2s;
							}

							&[data-index="2"] {
								animation-delay: 0.4s;
							}

							&[data-index="3"] {
								animation-delay: 0.6s;
							}

							&[data-index="4"] {
								animation-delay: 0.8s;
							}

							&[data-index="5"] {
								animation-delay: 1s;
							}
						}
					}
				}
			}
		}

		& .socials {
			display: flex;
			gap: 24px;
			justify-content: center;

			&[data-animated="true"] {
				animation: fade-in 1.3s forwards;
			}
		}
	}
}

@keyframes typing-in {
	0% {
		width: 0;
	}

	10% {
		width: 10%;
	}

	30% {
		width: 50%;
		color: var(--color-gray-0);
		text-shadow: 0 0 8px var(--mcc-color-5);
	}

	60% {
		width: 80%;
		color: var(--color-gray-0);
		text-shadow: 0 0 8px var(--mcc-color-3);
	}

	100% {
		width: 100%;
		color: var(--color-gray-0);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
