.main {
  & .mainIn {
    max-width: 1000px;
    margin: 32px auto 0;
    background-color: var(--color-background);
    box-shadow: 0 0 6px #00000080;

    @media  screen and (max-width: 48em) {
      margin: 32px 0 0;
    }

    & .article {
      padding: 5px;
      margin: 0 32px;

      @media screen and (max-width: 48em) {
        padding: 2px;
        margin: 0 2px;
      }

      & .title {
        margin: 48px 0;
        font-family: Sanchez, 'Noto Sans JP', sans-serif;
        font-size: 32px;
        font-weight: normal;
        text-align: center;
      }

      & .hero {
        width: 100%;
        max-width: 100%;
        height: 360px;
        object-fit: cover;
      }

      & .content {
        & p {
          padding: 10px 2px;
          margin: 0;
          font-size: 16px;
          line-height: 1.6;
        }

        & h1 {
          position: sticky;
          padding: 2px 10px;
          margin: 1em 0;
          font-size: 1.5rem;
          border-bottom: 2px solid var(--color-mcc-primary);
          border-left: 5px solid var(--color-mcc-primary);

          & a {
            color: inherit;
            text-decoration: none;
          }
        }

        & h2 {
          padding: 2px;
          margin: 1em 0;
          font-size: 1.4rem;
          border-bottom: 2px solid var(--color-mcc-primary);

          & a {
            color: inherit;
            text-decoration: none;
          }
        }

        & h3 {
          & a {
            color: inherit;
            text-decoration: none;
          }
        }

        & h4 {
          & a {
            color: inherit;
            text-decoration: none;
          }
        }

        & h5 {
          & a {
            color: inherit;
            text-decoration: none;
          }
        }

        & h6 {
          & a {
            color: inherit;
            text-decoration: none;
          }
        }

        & li {
          margin: 0;
          font-size: 16px;
          line-height: 2;
        }
      }
    }
  }
}
