.sections {
  & .section {
    & .heading {
      display: inline-block;
      padding: 16px 32px;
      margin: 56px 0;
      font-size: 24px;
      font-weight: bold;
      border-radius: 8px;
      box-shadow: var(--shadow-neumorphism);
    }

    .anchor {
      visibility : hidden;
    }

    & .para {
      margin: 0 0 16px;
      font-size: 16px;
      line-height: 2;
    }

    & .imageContainer {
      display: flex;
      flex-direction: row;
      gap: 32px;
      align-items: center;
      justify-content: center;
      height: auto;

      & .image {
        flex: 1;
        width: 40%;
        height: auto;
        object-fit: contain;
        border-radius: 8px;
      }

      @media (--bp-sm) {
        flex-direction: column;

        & .image {
          width: 100%;
        }
      }
    }

    & .twitterDmButton {
      display: inline-flex;
      gap: 4px;
      align-items: center;
      padding: 16px;
      margin: 16px;
      font-size: 18px;
      font-weight: bold;
      color: var(--mcc-color-2);
      text-decoration: none;
      border-radius: 24px;
      box-shadow: var(--shadow-neumorphism);
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: var(--color-gray-200);
        transform: translateY(-2px);
      }
    }

    & .discordButton {
      display: inline-flex;
      gap: 4px;
      align-items: center;
      padding: 16px;
      margin: 16px;
      font-size: 18px;
      font-weight: bold;
      color: var(--mcc-color-1);
      text-decoration: none;
      border-radius: 24px;
      box-shadow: var(--shadow-neumorphism);
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: var(--color-gray-200);
        box-shadow: var(--shadow-neumorphism-hover);
        transform: translateY(-2px);
      }
    }
  }
}

.em {
  padding: 0 6px;
  margin: 0 4px;
  background-color: var(--mcc-color-6);
  box-shadow: var(--shadow-neumorphism);
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  gap: 16px;

  .galleryImage {
    flex: 1 1 300px;
    height: 300px;
    object-fit: cover;
    background-color: var(--color-gray-200);
    border-radius: 8px;
    box-shadow: var(--shadow-neumorphism);
  }
}
