.pageTitle {
  max-width: 1000px;
  padding: 16px 0;
  margin: 16px auto;
  color: var(--color-mcc-quaternary);
  text-align: center;
  border-radius: 16px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 1000px;
  margin: 16px auto;

  @media screen and (max-width: 62em) {
    margin: 16px 5px;    
  }
  
  & .listItem {
    display: flex;
    gap: 16px;
    padding: 16px;
    background: linear-gradient(120deg, var(--color-mcc-primary), var(--color-mcc-secondary));
    border-radius: 16px;
    box-shadow: var(--color-shadow-large);
    
    &._reverse {
      flex-direction: row-reverse;
    }

    & .image {
      width: 300px;
      height: 160px;
      border-radius: 12px;
      object-fit: cover;
      
      @media screen and (max-width: 48em) {
        width: 40px;
        height: 40px;
      }
    }

    & .text {
      & .title {
        color: var(--color-text-white);

        @media screen and (max-width: 48em) {
          margin: 0;
          font-size: 16px;
          font-weight: normal;
        }
      }

      & .description {
        font-size: 16px;
        line-height: 1.5;
        color: var(--color-text-default);

        @media screen and (max-width: 48em) {
          font-size: 12px;
        }
      }
    }
  }
}
