.background {
  position: fixed;
  top: -1;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-image: url('/tuat-gate.webp');
  background-size: cover;
}

.headerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100svh;

  & .headerTitle {
    font-family: var(--font-family-orbitron);
    font-size: 32px;
    font-weight: bold;
    color: var(--color-mcc-quaternary);
    letter-spacing: 0.1em;
  }

  & .headerSubTitle {
    font-size: 24px;
    font-weight: normal;
    color: white;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 1000px;
  margin: 16px auto;

  @media screen and (max-width: 62em) {
    margin: 16px 5px;
  }

  & .listItem {
    display: flex;
    gap: 16px;
    padding: 16px;
    background: linear-gradient(120deg, var(--color-mcc-primary), var(--color-mcc-secondary));
    border-radius: 16px;
    box-shadow: var(--color-shadow-large);

    &._reverse {
      flex-direction: row-reverse;
    }

    & .image {
      width: 300px;
      height: 160px;
      border-radius: 12px;
      object-fit: cover;

      @media screen and (max-width: 48em) {
        width: 40px;
        height: 40px;
      }
    }

    & .text {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      & .title {
        color: var(--color-text-white);

        @media screen and (max-width: 48em) {
          margin: 0;
          font-size: 16px;
          font-weight: normal;
        }
      }

      & .description {
        font-size: 16px;
        line-height: 1.5;
        color: var(--color-text-default);

        @media screen and (max-width: 48em) {
          font-size: 12px;
        }
      }
    }
  }
}
