.code {
  padding: 0.2em 0.3em;
  margin: 0 0.2em;
  font-family: 'JetBrains Mono', 'Noto Sans JP', monospace, sans-serif;
  font-size: 1.1em;
  line-height: 1.5;
  background-color: #c6d8da;
  border-radius: 0.2em;
}
