.main {
  padding: var(--navbar-height) 32px;

  @media screen and (max-width: 62em) {
    padding: var(--navbar-height) 10px;
  }

  & .mainIn {
    max-width: 1000px;
    margin: 80px auto;
    background-color: var(--color-background);
    box-shadow: 0 0 6px #00000080;
  }
}

