@custom-media --bp-sm (max-width: 780px);

.smHeader {
  display: none;
  padding: 16px 5% 32px;

  @media (--bp-sm) {
    display: block;
  }

  & .headerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 0 auto;
    padding: 48px 8px;
    color: var(--color-gray-600);

    & .headerTitle {
      margin: 0;
      font-weight: bold;
      font-size: 32px;
      font-family: var(--font-family-orbitron);
      letter-spacing: 0.1em;
    }
  }
}

.main {
  display: flex;
  position: relative;
  padding: 0 5%;

  & .left {
    flex: 1;

    @media (--bp-sm) {
      display: none;
    }
  }

  & .right {
    flex: 2;
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  0%,
  100% {
    background-color: transparent;
    color: transparent;
  }

  50% {
    background-color: var(--color-gray-50);
  }
}
