@custom-media --bp-sm (max-width: 780px);

.background {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-color: var(--color-mcc-primary);
  object-fit: cover;
}

.headerContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  padding: 16px;
  margin: calc(var(--navbar-height) + 10px) auto 32px;
  background-color: #fff3;
  box-shadow: 0 0 16px white;
  backdrop-filter: blur(16px);

  & .headerTitle {
    margin: 0;
    font-family: var(--font-family-orbitron);
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 16px var(--color-mcc-quaternary);
    letter-spacing: 0.14em;
  }

  & .headerSubTitle {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    color: white;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  max-width: 1000px;
  padding: 16px;
  margin: 16px auto;
  background-color: #fff3;
  box-shadow: 0 0 16px white;
  backdrop-filter: blur(32px);

  @media (--bp-sm) {
    grid-template-columns: repeat(1, 1fr);
    padding: 8px;
  }

  & .listItem {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 8px;
    color: white;
    border: solid 1px transparent;
    transition: background-color 0.1s ease-in-out;

    &:focus {
      background-color: #fff3;
      border: solid 1px var(--color-mcc-quaternary);
      box-shadow: 0 0 16px var(--color-mcc-quaternary);
      backdrop-filter: blur(32px);
    }

    @media (hover: hover) {
      &:hover {
        background-color: #fff3;
        border: solid 1px var(--color-mcc-quaternary);
        box-shadow: 0 0 16px var(--color-mcc-quaternary);
        backdrop-filter: blur(32px);
      }
    }

    & .image {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 8px;
      box-shadow: 0 0 16px #0003;

      @media (--bp-sm) {
        width: 64px;
        height: 64px;
      }
    }

    & .text {
      display: flex;
      flex-direction: column;
      gap: 8px;
      justify-content: space-around;

      & .title {
        margin: 0;
        font-size: 20px;
        color: var(--color-text-white);

        @media (--bp-sm) {
          font-size: 16px;
        }
      }

      & .details {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        color: #eee;

        & .date {
          text-overflow: hidden;
        }

        & .author {
          padding-right: 12px;
        }
      }
    }
  }
}
