@custom-media --bp-sm (max-width: 780px);

.header {
  padding: 16px 5% 32px;

  & .headerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 0 auto;
    padding: 48px 8px;
    color: var(--color-gray-800);

    & .headerTitle {
      margin: 0;
      font-size: 64px;
      font-family: var(--font-family-orbitron);
      letter-spacing: 0.1em;

      @media (--bp-sm) {
        font-size: 48px;
      }
    }

    & .typeWriterContainer {
      display: inline-block;
      margin: 0 auto;

      & .headerSubTitle {
        position: relative;
        animation: typing 2s steps(9, end) forwards;
        overflow: hidden;
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.1em;
        text-align: center;
        white-space: nowrap;

        &::after {
          display: inline-block;
          position: absolute;
          right: -4px;
          animation: blink-caret 0.75s step-end infinite;
          content: '|';
        }
      }
    }
  }
}

.main {
  padding: 0 5%;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  0%,
  100% {
    background-color: transparent;
    color: transparent;
  }

  50% {
    background-color: var(--color-gray-50);
  }
}
