.listItem {
  display: flex;
  width: 100%;

  & .link {
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    padding: 16px 24px;
    width: 100%;
    overflow: hidden;
    color: #000;
    font-weight: normal;
    font-family: var(--font-family-orbitron);
    text-decoration: none;

    & .newsTitle {
      margin: 0;
      padding: 32px 0 16px;
      font-weight: bold;
      font-size: 24px;
      letter-spacing: 0.1em;
    }

    & .date {
      transition: color 0.1s ease-in-out;
      font-weight: normal;
      font-size: 14px;
      letter-spacing: 0.1em;
    }

    & .description {
      transform: translateX(-110%);
      transform-origin: left;
      scale: 1 0;
      transition: transform 0.2s ease-in-out, padding 0.2s ease-in-out,
        border-bottom 0.2s ease-in-out -0.1s, scale 0.2s ease-in-out 0.3s;
      margin: 0;
      border-bottom: 1px solid #000;
      padding: 0;
      height: 0;
      font-weight: bold;
      font-size: 14px;
    }

    @media (hover: hover) {
      &:hover {
        background-color: #333;
        color: #fff;

        & .date {
          color: #999;
        }

        & .description {
          transform: translateX(0);
          scale: 1 1;
          border-bottom: 1px solid #fff;
          padding: 0 0 16px;
          height: auto;
        }
      }
    }
  }
}

.recentNews {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  max-width: 1200px;

  & .title {
    margin-bottom: 1rem;
    font-size: 32px;
    letter-spacing: 0.1em;
  }

  & .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 600px;
    list-style: none;
  }
}
