@custom-media --bp-sm (max-width: 780px);

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--navbar-height);
  background-color: transparent;
  box-shadow: none;
  transition: background-color 0.5s ease-in-out;

  & .brand {
    display: flex;
    gap: 8px;
    align-items: center;
    height: 100%;
    padding: 0 8px;
    font-family: var(--font-family-orbitron);
    font-size: var(--font-size-navbar);
    font-weight: bold;
    color: white;
    letter-spacing: 0.1em;
    filter: drop-shadow(var(--color-shadow-dark));
    transition: color 0.2s ease-in-out;

    & .brandLogo {
      display: flex;
      width: var(--navbar-logo-size);
      height: var(--navbar-logo-size);
    }

    &._blue {
      color: var(--color-mcc-brand);
    }
  }

  & .hamburgerMenu {
    position: relative;
    z-index: 100;
    display: block;
    width: 48px;
    height: 48px;
    padding: 0;
    margin: 8px;
    cursor: pointer;

    @media (--bp-sm) {
      transform: scale(0.75);
    }

    & .hamburgerMenuLine1 {
      top: 4px;
    }

    & .hamburgerMenuLine2 {
      top: 22px;
    }

    & .hamburgerMenuLine3 {
      bottom: 4px;
    }

    & .hamburgerMenuLine1,
    & .hamburgerMenuLine2,
    & .hamburgerMenuLine3 {
      position: absolute;
      display: block;
      width: 48px;
      height: 4px;
      background-color: white;
      box-shadow: var(--color-shadow-dark);
      transition: all 0.2s ease-in-out;
    }

    &._blue {
      & .hamburgerMenuLine1,
      & .hamburgerMenuLine2,
      & .hamburgerMenuLine3 {
        background-color: var(--color-mcc-brand);
      }
    }

    &._active {
      & .hamburgerMenuLine1 {
        top: 22px;
        background-color: white;
        box-shadow: 0 0 8px #9ff;
        transform: rotate(45deg);
      }

      & .hamburgerMenuLine2 {
        background-color: white;
        box-shadow: 0 0 8px #9ff;
        transform: scaleX(0);
      }

      & .hamburgerMenuLine3 {
        bottom: 22px;
        background-color: white;
        box-shadow: 0 0 8px #9ff;
        transform: rotate(-45deg);
      }
    }
  }

  & .drawer {
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    max-width: 500px;
    height: auto;
    max-height: calc(100vh - var(--navbar-height));
    padding: var(--navbar-height) 0 0 0;
    overflow-y: auto;
    letter-spacing: 0.4em;
    background: transparent;
    transition: transform 0.4s ease-in-out;
    transform: translateX(100%);

    &._active {
      transform: translateX(0);
    }

    & .drawerContent {
      display: flex;
      flex-direction: column;
      padding: 0 8px;
      overflow-x: hidden;

      & .drawerContentItem {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
        font-family: Orbitron, sans-serif;
        font-size: 24px;
        font-weight: bold;
        line-height: 3;
        color: white;
        text-shadow: 0 0 8px #9ff;
        transition: transform 0.3s ease-in-out;
        transform: translateX(100%);

        &._active {
          transform: translateX(0);
        }

        & .linkItem {
          display: block;
          width: 100%;
          padding: 0 24px;
          color: inherit;
          background:
            linear-gradient(
              90deg,
              #069 0%,
              var(--color-mcc-primary) 50.5%,
              transparent 50.5%,
              transparent 100%
            );
          background-position: 100% 100%;
          background-size: 200%;
          transition: background-position 0.2s ease-in-out;

          &:hover {
            background-position: 0 0;
          }
        }
      }
    }
  }

  & .drawerBlur {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #011 20%, #999);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    animation: blur-fade-out 0.2s ease-in-out;
    scale: 0;

    &._active {
      opacity: 0.8;
      scale: 1;
      animation: blur-fade-in 0.2s ease-in-out;
    }
  }
}

@keyframes blur-fade-in {
  0% {
    scale: 0;
  }

  1% {
    scale: 1;
  }

  100% {
    scale: 1;
  }
}

@keyframes blur-fade-out {
  0% {
    scale: 1;
  }

  99% {
    scale: 1;
  }

  100% {
    scale: 0;
  }
}
