@custom-media --bp-sm (max-width: 780px);

.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--navbar-height);
  background-color: transparent;
  box-shadow: none;
  transition: all 0.5s ease-in-out;

  &._white {
    background-color: var(--color-gray-100);
    box-shadow: var(--shadow-neumorphism);
  }

  & .brand {
    display: flex;
    gap: 8px;
    align-items: center;
    height: 100%;
    height: var(--font-size-navbar);
    padding: 0 8px;
    font-weight: bold;
    color: white;
    letter-spacing: 0.1em;
    filter: drop-shadow(var(--color-shadow-dark));
    transition: color 0.2s ease-in-out;

    &._blue {
      color: var(--color-mcc-brand);
      filter: none;
    }
  }

  & .hamburgerMenu {
    position: relative;
    z-index: 100;
    display: block;
    width: 48px;
    height: 48px;
    padding: 0;
    margin: 8px;
    cursor: pointer;

    @media (--bp-sm) {
      transform: scale(0.75);
    }

    & .hamburgerMenuLine1 {
      top: 4px;
    }

    & .hamburgerMenuLine2 {
      top: 22px;
    }

    & .hamburgerMenuLine3 {
      bottom: 4px;
    }

    & .hamburgerMenuLine1,
    & .hamburgerMenuLine2,
    & .hamburgerMenuLine3 {
      position: absolute;
      display: block;
      width: 48px;
      height: 4px;
      background-color: white;
      box-shadow: var(--color-shadow-dark);
      transition: all 0.2s ease-in;
    }

    &._blue {
      & .hamburgerMenuLine1,
      & .hamburgerMenuLine2,
      & .hamburgerMenuLine3 {
        background-color: var(--color-mcc-brand);
        box-shadow: none;
      }
    }

    &._active {
      & .hamburgerMenuLine1 {
        top: 22px;
        background-color: white;
        box-shadow: 0 0 8px #9ff;
        transition-delay: 0.1s;
        transform: rotate(45deg);
      }

      & .hamburgerMenuLine2 {
        background-color: white;
        box-shadow: 0 0 8px #9ff;
        transform: scaleX(0);
      }

      & .hamburgerMenuLine3 {
        bottom: 22px;
        background-color: white;
        box-shadow: 0 0 8px #9ff;
        transform: rotate(-45deg);
      }
    }
  }

  & .drawer {
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    max-width: 500px;
    height: auto;
    max-height: calc(100vh);
    padding: var(--navbar-height) 0 0 0;
    overflow-y: auto;
    letter-spacing: 0.4em;
    background: transparent;
    transition: transform 0.4s ease-in-out;
    animation: background-fade-out 0.3s ease-in-out;
    scale: 0;

    &._active {
      animation: background-fade-in 0.3s ease-in-out;
      scale: 1;
    }

    & .drawerContent {
      display: flex;
      flex-direction: column;
      padding: 0 8px;
      overflow-x: hidden;

      & .drawerContentItem {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
        font-family: var(--font-family-orbitron);
        font-size: 24px;
        font-weight: bold;
        line-height: 3;
        color: white;
        text-shadow: 0 0 8px #9ff;
        transition: transform 0.3s ease-in-out;
        transform: translateX(110%);

        &._active {
          transform: translateX(0);
        }

        & .linkItem {
          display: flex;
          gap: 8px;
          align-items: center;
          width: 100%;
          padding: 0 24px;
          color: inherit;
          background:
            linear-gradient(
              90deg,
              #069 0%,
              var(--color-mcc-primary) 50.5%,
              transparent 50.5%,
              transparent 100%
            );
          background-position: 100% 100%;
          background-size: 200%;
          transition: background-position 0.2s ease-in-out;

          &:hover {
            background-position: 0 0;
          }
        }
      }
    }
  }

  & .overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #012, #999);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    animation: background-fade-out 0.2s ease-in-out;
    scale: 0;

    &._active {
      opacity: 0.9;
      scale: 1;
      animation: background-fade-in 0.2s ease-in-out;
    }
  }
}

@keyframes background-fade-in {
  0% {
    scale: 0;
  }

  1% {
    scale: 1;
  }

  100% {
    scale: 1;
  }
}

@keyframes background-fade-out {
  0% {
    scale: 1;
  }

  99% {
    scale: 1;
  }

  100% {
    scale: 0;
  }
}
