@use '~/styles/variables.scss' as *;

.navbar {
  background-color: #fff;
  box-shadow: 0 0 0.2rem 0.1rem #aaa;
  display: flex;
  flex-direction: row;
  height: 3em;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;

  .brand {
    align-items: center;
    color: #0080f0;
    display: flex;
    flex-direction: row;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    font-weight: 700;
    justify-content: center;
    margin: 0 1rem;
    text-decoration: none;
  }

  .logo {
    height: 32px;
    width: 32px;
  }
}
