.nav {
  position: sticky;
  top: 0;
  z-index: 1;
  height: var(--navbar-height);

  & .navbar {
    display: flex;
    backdrop-filter: blur(10px);
    padding: 0 8px;
    height: inherit;

    &._transparent {
      backdrop-filter: none;
    }

    & .brand {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
