.articleCard {
  display: flex;
  gap: 8px;
  padding: 8px;

  @media (--bp-sm) {
    flex-flow: column;
    gap: 16px;
    width: 336px;
  }

  & .thumbnail {
    width: 320px;
    max-width: 100%;

    & .image {
      width: 320px;
      aspect-ratio: 16 / 9;
      border-radius: 12px;
      object-fit: cover;
      object-position: center;
    }
  }

  & .textInfo {
    display: flex;
    flex-flow: column;
    gap: 8px;

    @media (--bp-sm) {
      width: 320px;
    }

    & .title {
      font-size: 18px;
      font-weight: bold;
    }

    & .author {
      font-size: 14px;
      color: var(--color-gray-600);
    }

    & .date {
      font-size: 14px;
      color: var(--color-gray-600);
    }

    & .tags {
      display: flex;
      flex-flow: row wrap;
      gap: 4px;
      font-size: 12px;

      & .tag {
        padding: 4px 8px;
        background-color: var(--color-gray-300);
        border-radius: 4px;
      }
    }
  }
}
