.drawer {
  position: fixed;
  bottom: var(--navbar-mobile-height);
  z-index: -1;
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
  background-color: var(--color-background);
  box-shadow: var(--color-shadow-medium);
  transition: transform 0.3s ease-in-out;
  transform: translateY(120%);

  &.open {
    transform: translateY(0);
  }

  & .navIn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding: 0;
    list-style: none;

    & .listItem {
      display: flex;
      width: 90%;

      & .link {
        position: relative;
        width: 100%;
        padding: 10px;
        margin: 0 auto;
        text-decoration: none;
        background: transparent;
        border-bottom: 1px solid var(--color-mcc-primary);
        transition: border 2s fade-in;

        &::after {
          position: absolute;
          right: 0;
          bottom: -1px;
          display: block;
          content: '';
          border-right: 30px solid var(--color-background);
          border-bottom: 5px solid var(--color-mcc-primary);
        }
      }
    }
  }
}
