.drawer {
  position: fixed;
  top: calc(100svh - 400px);
  bottom: var(--navbar-mobile-height);
  z-index: 1;
  width: 100svw;
  overflow-y: auto;
  background-color: var(--color-background);
  box-shadow: var(--color-shadow-medium);
  transition: transform 0.3s ease-in-out;
  transform: translateY(120%);

  @media screen and (max-width: 48em) and (orientation: landscape) {
    top: 0;
    bottom: 0;
    width: calc(100vw - var(--navbar-mobile-height));
  }

  &._open {
    transform: translateY(0);
  }

  & .navIn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding: 0;
    list-style: none;

    & .listItem {
      display: flex;
      width: 90%;

      & .link {
        position: relative;
        width: 100%;
        padding: 20px 5px 5px;
        margin: 0 auto;
        text-decoration: none;
        background: transparent;
        border-bottom: 1px solid var(--color-mcc-primary);
        transition: border 2s fade-in;

        &::after {
          position: absolute;
          right: 0;
          bottom: -1px;
          display: block;
          content: '';
          border-right: 30px solid var(--color-background);
          border-bottom: 5px solid var(--color-mcc-primary);
        }
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: var(--navbar-mobile-height);
  z-index: 1;
  width: 100svw;
  height: 0;
  overflow-y: auto;
  background: linear-gradient(var(--color-mcc-primary), var(--color-mcc-secondary));
  box-shadow: var(--color-shadow-medium);
  opacity: 0;
  transition: transform 0.3s ease-in-out;

  &._open {
    height: 100svh;
    opacity: 0.8;
  }
}
