.internalLink {
  color: #05f;
  text-decoration: none;
}

.externalLink {
  color: #05f;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.linkedHeading {
  color: #002;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: inherit;
  }
}
