.header {
  top: 0;
  width: 100%;
  height: auto;

  & .headerIn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--header-mobile-height);
    background-color: var(--color-background);

    & .title {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 40px;
      font-weight: normal;
      color: var(--color-mcc-primary);
    }
  }
}
