.header {
  & .headerIn {
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    margin: 5px;
    background-color: var(--color-background);

    & .title {
      font-family: Sanchez, sans-serif;
      font-size: 40px;
      font-weight: normal;
      color: var(--color-mcc-primary);
    }
  }
}
