.sidebarLeft {
  position: fixed;
  top: 0;
  left: 2%;
  display: flex;
  flex-direction: column;
  width: 16%;
  min-width: 80px;
  height: 100%;
  overflow-y: auto;

  .link {
    position: relative;
    padding: 0.5em 1em;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.5em;
    color: #0aa;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      background-color: #cee;
    }
  }
}
