.navbar {
  --color-theme-light: #06c;
  --color-theme-transparent: #fff;
  --color-background-theme-light: #fff;
  --color-background-theme-transparent: transparent;

  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--navbar-pc-height);
  background-color: var(--color-background-theme-light);
  box-shadow: var(--color-shadow-large);
  transition: background-color 0.5s ease-in-out;

  &._transparent {
    background-color: var(--color-background-theme-transparent);
    box-shadow: none;
  }

  @media screen and (max-width: 48em) {
    height: var(--navbar-mobile-height);
  }

  & .brand {
    display: flex;
    gap: 8px;
    align-items: center;
    height: 100%;
    padding: 0 8px;
    font-family: Orbitron, sans-serif;
    font-size: 64px;
    font-weight: bold;
    line-height: 1;
    color: var(--color-theme-light);
    text-shadow: 0 0 8px #0006;
    letter-spacing: 0.05em;
    transition: color 1s ease-in-out;

    &._transparent {
      color: var(--color-theme-transparent);
    }

    @media screen and (max-width: 48em) {
      scale: 0.8;
    }
  }

  & .hamburgerMenu {
    position: relative;
    z-index: 100;
    display: block;
    width: 48px;
    height: 48px;
    padding: 0;
    margin: 8px;
    cursor: pointer;

    @media screen and (max-width: 48em) {
      transform: scale(0.8);
    }

    & .hamburgerMenuLine1 {
      position: absolute;
      top: 4px;
      display: block;
      width: 48px;
      height: 4px;
      background-color: var(--color-mcc-brand);
      box-shadow: 0 0 8px #0006;
      transition: all 0.2s ease-in-out;

      &._transparent,
      &._active {
        background-color: var(--color-theme-transparent);
      }
    }

    & .hamburgerMenuLine2 {
      position: absolute;
      top: 22px;
      display: block;
      width: 48px;
      height: 4px;
      background-color: var(--color-mcc-brand);
      box-shadow: 0 0 8px #0006;
      transition: all 0.2s ease-in-out;

      &._transparent,
      &._active {
        background-color: var(--color-theme-transparent);
      }
    }

    & .hamburgerMenuLine3 {
      position: absolute;
      bottom: 4px;
      display: block;
      width: 48px;
      height: 4px;
      background-color: var(--color-mcc-brand);
      box-shadow: 0 0 8px #0006;
      transition: all 0.2s ease-in-out;

      &._transparent,
      &._active {
        background-color: var(--color-theme-transparent);
      }
    }

    &._active {
      & .hamburgerMenuLine1 {
        top: 22px;
        transform: rotate(45deg);
      }

      & .hamburgerMenuLine2 {
        transform: scaleX(0);
      }

      & .hamburgerMenuLine3 {
        bottom: 22px;
        transform: rotate(-45deg);
      }
    }
  }

  & .drawer {
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    max-width: 500px;
    height: auto;
    padding: var(--navbar-pc-height) 0 0 0;
    letter-spacing: 0.4em;
    background: transparent;
    transition: transform 0.2s ease-in-out;
    transform: translateX(100%);

    &._open {
      transform: translateX(0);
    }

    &._transparent {
      background: var(--color-background-theme-transparent);
    }

    & .drawerContent {
      display: flex;
      flex-direction: column;
      padding: 0 8px;

      & .drawerContentItem {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
        font-family: Orbitron, sans-serif;
        font-size: 24px;
        font-weight: bold;
        line-height: 3;
        color: var(--color-theme-transparent);
        text-shadow: 0 0 8px #fff;
        background:
          linear-gradient(
            90deg,
            #069 0%,
            var(--color-mcc-primary) 50%,
            transparent 50%,
            transparent 100%
          );
        background-position: 100% 100%;
        background-size: 200%;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-position: 0 0;
        }

        & .linkItem {
          display: block;
          width: 100%;
          padding: 0 24px;
          color: inherit;
        }
      }
    }
  }

  & .drawerBlur {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100svh;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    transform: translateX(100%);

    &._open {
      opacity: 0.6;
      transform: translateX(0);
    }
  }
}
