.footer {
  display: flex;
  position: relative;
  bottom: 0;
  flex-direction: column;
  gap: 32px;
  margin-top: 64px;
  background: var(--color-gray-400);
  padding: 64px 32px 32px;

  &._semitransparent {
    background: linear-gradient(transparent, var(--color-gray-400));
  }

  & .wordmarkLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: var(--mcc-color-1);
    font-weight: bold;
    font-size: 32px;
    font-family: var(--font-family-orbitron);
    letter-spacing: 0.1em;
  }

  & .socials {
    display: flex;
    justify-content: center;
    gap: 16px;

    & .socialLink {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4px;
      min-width: 64px;
      color: white;
      font-size: 12px;
      font-family: var(--font-family-orbitron);
      letter-spacing: 0.1em;
      text-align: center;
    }
  }

  & .copyRight {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text-default);
    font-size: 12px;
  }
}
