.tag {
  padding: 4px 8px;
  font-family: var(--font-family-noto-sans-jp);
  font-size: 14px;
  font-weight: bold;
  color: var(--color-gray-700);
  background-color: var(--mcc-color-6);
  border-radius: 4px;
}
