.footerContent {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
  margin-top: 64px;
  background: #ccc;

  &._semitransparent {
    background: linear-gradient(transparent, #ccc)
  }

  & .logo {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-orbitron);
    font-size: 32px;
    font-weight: bold;
    color: var(--color-mcc-brand);
    letter-spacing: 0.1em;
  }

  & .socials {
    display: flex;
    gap: 16px;
    justify-content: center;

    & .socialLink {
      display: flex;
      flex-direction: column;
      gap: 4px;
      align-items: cnter;
      justify-content: center;
      font-family: var(--font-family-orbitron);
      font-size: 12px;
      color: white;
      text-align: center;
      letter-spacing: 0.1em;
    }
  }

  & .copyRight {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #333;
  }
}
