.codeFigure {
	position: relative;
	display: block;
	font-family: var(--font-family-jetbrains-mono);
	filter: drop-shadow(4px 4px 4px var(--color-gray-400))
		drop-shadow(-4px -4px 4px var(--color-gray-0));

	/* This is the copy button */
	& .copyButton {
		position: absolute;
		top: 10px;
		right: 14px;
		color: white;
		cursor: pointer;
		opacity: 0.2;
		transition: opacity 0.2s ease-in-out;

		&:nth-child(3) {
			/* HACK: button will be the 3rd child if title is present */
			top: 42px;
		}
	}

	&:hover {
		& button {
			opacity: 1;
		}
	}

	& figcaption {
		display: inline-block;
		padding: 8px 16px 16px;
		margin-bottom: -8px;
		font-size: 14px;
		color: var(--color-gray-100);
		background-color: var(--color-gray-700);
		border-radius: 8px 8px 0 0;
	}

	& pre {
		position: relative;
		display: flex;
		padding: 12px;
		margin: 0;
		overflow: auto;
		font-family: var(--font-family-jetbrains-mono);
		background-color: var(--color-gray-700);
		border-radius: 6px;

		& code {
			position: relative;
			width: 100%;
			padding: 0;
			margin: 0;
			color: white;
			background: inherit;
		}
	}
}
