.twitterTimeline {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  & .spinnerBorder {
    display: inline-block;
    width: 64px;
    height: 64px;
    vertical-align: text-bottom;
    border: 8px solid currentcolor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border 0.75s linear infinite;
  }
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}
