.header {
  position: fixed;
  width: var(--sidebar-width);
  padding-top: calc(var(--side-header-height) / 2);

  & .brandLink {
    display: block;
    text-align: center;
    text-decoration: none;
    
    & .brandName {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 1.8rem;
      color: var(--color-mcc-primary);
      text-shadow: 0 0 50px #fff;
    }
  }
}

.sidebar {
  position: fixed;
  width: var(--sidebar-width);
  height: 100%;
  padding-top: var(--side-header-height);
  overflow-y: auto;
  background: linear-gradient(140deg, #bdf, var(--color-mcc-secondary));
  box-shadow: 0 0 10px #888;


  & .sidebarIn {
    & .linkList {
      padding: var(--side-header-height) 0;
      list-style: none;

      & .list {
        position: relative;

        & .link {
          display: block;
          padding: 1em 1.5em;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-size: 1.2em;
          font-weight: 700;
          color: var(--color-mcc-secondary);
          text-decoration: none;
          transition: background-color 0.2s linear;

          &:hover,
          &:focus {
            background-color: #fff;
          }
        }
      }
    }
  }
}
