@custom-media --bp-sm (max-width: 780px);

.background {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  padding: 16px 5% 32px;

  & .headerContent {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    padding: 48px 8px;
    margin: 0 auto;
    color: var(--color-gray-50);
    background-color: #0003;
    border-radius: 8px;
    box-shadow: 0 0 16px var(--color-gray-0);
    backdrop-filter: blur(16px);

    & .headerTitle {
      margin: 0;
      font-family: var(--font-family-orbitron);
      font-size: 64px;
      letter-spacing: 0.1em;

      @media (--bp-sm) {
        font-size: 48px;
      }
    }

    & .typeWriterContainer {
      display: inline-block;
      margin: 0 auto;

      & .headerSubTitle {
        position: relative;
        overflow: hidden;
        font-size: 16px;
        font-weight: normal;
        text-align: center;
        letter-spacing: 0.1em;
        white-space: nowrap;
        animation: typing 3s steps(21, end) forwards;

        &::after {
          position: absolute;
          right: -4px;
          display: inline-block;
          content: '|';
          animation: blink-caret 0.75s step-end infinite;
        }
      }
    }
  }
}

.main {
  padding: 0 5%;

  & .mainContent {
    & .list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
      padding: 16px;
      margin: 16px auto;
      background-color: #0003;
      border-radius: 8px;
      box-shadow: 0 0 16px var(--color-gray-0);
      backdrop-filter: blur(32px);

      @media (--bp-sm) {
        grid-template-columns: repeat(1, 1fr);
        padding: 8px;
      }

      & .listItem {
        & .link {
          position: relative;
          display: flex;
          gap: 16px;
          align-items: center;
          padding: 8px;
          color: white;
          border: solid 1px transparent;
          transition: all 0.2s ease-in-out;

          @media (hover: hover) {
            &:hover {
              border: solid 1px var(--mcc-color-6);
              box-shadow: 0 0 8px var(--mcc-color-6);
            }
          }

          & .image {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 8px;
            box-shadow: 0 0 16px #0003;

            @media (--bp-sm) {
              width: 64px;
              height: 64px;
            }
          }

          & .text {
            display: flex;
            flex-direction: column;
            gap: 8px;
            justify-content: space-around;

            & .title {
              margin: 0;
              font-size: 20px;
              color: var(--color-text-white);

              @media (--bp-sm) {
                font-size: 16px;
              }
            }

            & .details {
              display: flex;
              justify-content: space-between;
              font-size: 14px;
              color: var(--color-gray-400);

              & .author {
                padding-right: 12px;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  0%,
  100% {
    color: transparent;
    background-color: transparent;
  }

  50% {
    background-color: var(--color-gray-50);
  }
}
