.sidebarRight {
  position: fixed;
  right: 2%;
  display: flex;
  flex-direction: column;
  width: 18%;
  height: 100%;
  overflow: auto;
  background-color: #fff;

  .twitterTimeLine {
    width: 100%;
    height: 100%;
  }
}
