.sidebarRight {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  position: fixed;
  width: 18%;
  right: 2%;

  .twitterTimeLine {
    height: 100%;
    width: 100%;
  }
}
