@custom-media --bp-sm (max-width: 780px);

.heroImage {
  display: block;
  margin: 0 auto;
  margin-top: -64px;
  width: 100%;
  max-width: 1000px;
  height: 300px;
  object-fit: cover;
}

.main {
  margin: auto;
  padding: 0 8px 48px;
  max-width: 900px;

  @media (--bp-sm) {
    width: 92vw;
  }

  & .backLink {
    display: inline-flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
    margin-top: 64px;
    box-shadow: var(--shadow-neumorphism);
    border-radius: 8px;
    padding: 8px 16px;
    color: var(--mcc-color-1);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;

    &:hover {
      box-shadow: var(--shadow-neumorphism-hover);
      background-color: var(--color-gray-200);
    }
  }
}
