@custom-media --bp-sm (max-width: 780px);

.heroImageWrapper {
  position: relative;
  margin: 0 auto;
  aspect-ratio: 3.5 / 1;
  width: 100%;
  max-width: 900px;

  /* margin-top: -70px; */

  .heroImage {
    filter: grayscale(50%);
    border-radius: 0 0 16px 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    border-radius: 0 0 16px 16px;
    background: linear-gradient(
      60deg,
      var(--mcc-color-1),
      var(--mcc-color-3),
      var(--mcc-color-4)
    );
    width: 100%;
    height: 100%;
    content: '';
  }
}

.header {
  display: grid;
  grid-template-columns: auto 80px;
  margin: 0 auto;
  padding: 0 8px;
  max-width: 900px;

  @media (--bp-sm) {
    width: 92vw;
  }

  & .breadcrumb {
    display: inline-flex;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin: 12px 0;
    overflow: hidden;
    color: var(--color-gray-500);
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;

    & .breadcrumbItem {
      color: var(--color-gray-500);
      line-height: 1.6;

      &:hover {
        text-decoration: underline;
      }

      &:not(:last-child)::after {
        display: inline-block;
        margin: 0 8px;
        content: '/';
        text-decoration: none;
      }
    }
  }

  & .title {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    margin: 16px 0;
    font-weight: bold;
    font-size: 42px;

    @media (--bp-sm) {
      font-size: 32px;
    }
  }

  & .author {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    margin: 16px 0;
    color: var(--mcc-color-1);
    font-weight: bold;
    text-decoration: underline;
  }

  & .date {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin: 12px 0;
    color: var(--color-gray-500);
    font-size: 14px;
    line-height: 1.6;
  }

  & .tagList {
    display: flex;
    grid-row: 4 / 5;
    grid-column: 1 / 3;
    gap: 8px;
    margin: 32px 0;

    & .tagItem {
      transition: all 0.2s ease-in-out;
      box-shadow: var(--shadow-neumorphism);
      border-radius: 8px;
      padding: 4px 8px;
      font-weight: bold;
      font-size: 14px;
    }
  }
}
