@custom-media --bp-sm (max-width: 780px);

.heroImageWrapper {
  position: relative;
  margin: 0 auto;
  margin-top: -70px;
  width: 100%;
  height: 250px;
  max-width: 900px;

  .heroImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(50%);
  }

  &::after {
    content: '';
    diplay: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.4;
    background: linear-gradient(60deg, var(--mcc-color-1), var(--mcc-color-4));
  }
}

.header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 900px;
  padding: 0 8px;

  @media (--bp-sm) {
    width: 92vw;
  }

  & .title {
    margin: 16px 0;
    font-size: 42px;
    font-weight: bold;

    @media (--bp-sm) {
      font-size: 32px;
    }
  }

  & .author {
    margin: 16px 0;
    font-weight: bold;
    color: var(--mcc-color-1);
    text-decoration: underline;
  }

  & .date {
    margin: 8px 0;
    font-size: 14px;
    color: var(--color-gray-500);
  }

  & .tagList {
    margin: 32px 0;
    display: flex;
    gap: 8px;

    & .tagItem {
      padding: 4px 8px;
      font-size: 14px;
      font-weight: bold;
      border-radius: 8px;
      box-shadow: var(--shadow-neumorphism);
      transition: all 0.2s ease-in-out;
    }
  }
}
