.canvas {
  width: 100%;
  line-height: 1;
  color: white;

  & .heading1 {
    position: absolute;
    top: 60svh;
    left: 0.5em;
    font-size: 40px;
  }

  & .heading2 {
    position: absolute;
    top: 80svh;
    left: 60svw;
    font-size: 15svw;
  }

  & .heading3 {
    position: absolute;
    top: 148svh;
    left: 0.5svw;
    font-size: 40svw;
  }
}
