.pre {
  padding: 16px;
  margin: 8px 0;
  overflow-x: auto;
  font-family: 'JetBrains Mono', 'Noto Sans JP', monospace, sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: #fff;
  background-color: #16283a;
  border-radius: 4px;

  & code {
    background-color: inherit;
  }
}
