.backToTop {
  position: fixed;
  right: 20px;
  bottom: 32px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  box-shadow: var(--shadow-neumorphism);
  border-radius: 40%;
  background: var(--color-gray-100);
  color: var(--color-gray-800);

  &:hover {
    box-shadow: var(--shadow-neumorphism-hover);
    background: var(--color-gray-200);
  }

  &[aria-hidden='true'] {
    transform: translateY(100%);
    opacity: 0;
  }
}
