name: CI

on:
  push:
    branches:
      - 'develop'
  pull_request:

jobs:
  lint:
    name: run lint
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18.12.1
          cache: npm
      - name: npm ci
        run: npm ci
      - name: run lint
        run: npm run lint