.canvas {
  width: 100%;
  line-height: 1;
  color: white;

  & .intro {
    position: absolute;
    top: 20vh;
    left: 0.5em;
    width: 90vw;
    font-size: 44px;
  }

  & .name1 {
    position: absolute;
    top: 50vh;
    left: 50vw;
    width: 90vw;
    margin: 0;
    font-size: 20vw;
  }

  & .name2 {
    position: absolute;
    top: 100vh;
    width: 90vw;
    font-size: 24px;
  }

  & .heading2 {
    position: absolute;
    top: 80vh;
    left: 60vw;
    font-size: 15vw;
  }

  & .heading3 {
    position: absolute;
    top: 148vh;
    left: 0.5vw;
    font-size: 40vw;
  }
}
