.canvas {
  width: 100%;
  line-height: 1;
  color: white;
  background-image: url('/tuat-gate.webp');
  background-size: cover;

  & .intro {
    position: absolute;
    left: 0.5em;
    width: 90vw;
    font-size: 44px;
  }

  & .mcc {
    position: absolute;
    left: 40vw;
    width: 90vw;
    margin: 0;
    font-size: 20vw;
    font-weight: 800;
  }

  & .name2 {
    position: absolute;
    width: 100vw;
    margin: 0;
    font-size: min(24px, 6vw);
    line-height: 1.4;
  }

  & .downArrow {
    position: absolute;
    left: calc(50svw - 10px);
    width: 0;
    height: 0;
    padding: 0;
    border-top: 20px solid white;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    animation: down-arrow 1s infinite;
  }

  @keyframes down-arrow {
    0% {
      transform: translateY(-100%);
    }

    50% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-100%);
    }
  }

  & .information {
    position: absolute;
    left: 30vw;
    margin: 0;
    font-size: 20vw;
    font-weight: bold;
    pointer-events: none;
    opacity: 0.5;
  }

  & .and {
    position: absolute;
    left: 20vw;
    margin: 0;
    font-size: 50vmin;
    font-weight: bold;
    pointer-events: none;
  }

  & .technology {
    position: absolute;
    left: -5vw;
    margin: 0;
    font-size: 20vw;
    font-weight: bold;
    pointer-events: none;
  }

  & .catchCopy {
    position: absolute;
    top: 210vh;
    left: 0.5vw;
    width: 95vw;
    font-size: min(24px, 6vw);
    font-weight: bold;
    line-height: 1.5;

    & .sentence {
      display: block;
      margin-bottom: 0.5em;
    }
  }
  
  & .bottms {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    gap: 16px;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 96svw;
    height: 40svh;

    & .cards {
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 16px;
      align-items: center;
      align-items: stretch;
      justify-content: center;
      max-width: 600px;

      & .cardItem {
        padding: 8px;
        margin: 0 8px;
        background: rgb(0 0 0 / 50%);
        
        & .cardLink {
          font-size: min(24px, 6vw);
          font-weight: bold;
          line-height: 2;
          color: white;
        }
      }

      & .socials {
        display: flex;
        gap: 16px;
        padding: 8px;
        margin: 0 8px;
      }
    }
  
    & .twitterWrapper {
      position: relative;
      flex: 1;
      max-width: 600px;
      height: 40svh;
      overflow: auto;
      font-size: 12px;
      
      
      & > div {
        width: 100%;
        height: 60svh;
        font-size: 12px;
        border: none;
      }

      &::-webkit-scrollbar {
        width: 2px;
      }
    }
  }
}

